{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align:center">Please enter your new password twice</h2><br><br>
    <form method="post" enctype="multipart/form-data">

         {% csrf_token %}

        <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        <small id="password1Help" class="form-text text-danger">{{ form.password1.errors }}</small>
        </div>

        <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <small id="password2Help" class="form-text text-danger">{{ form.password2.errors }}</small>
        </div>

        <button type="submit" class="btn btn-primary">Password re-set</button>

    </form>

{% endblock %}