{% extends 'base.html' %}
{% block content %}
<button type="submit" class="btn text-warning bg-light outline-secondary">
    <a href="{% url 'users:creation' %}">
        New user creation
    </a>
</button>
    {%if other_users%}
    <h5>List of registered users</h5>
        <table>
            <thead>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Username/email</th>
            <th scope="col">Password re-set</th>
            </thead>
        {%for other_user in page_obj%}
            <tr>
                <td >{{other_user.first_name}}</td>
                <td>{{other_user.last_name}}</td>
                <td>{{other_user.username}}</td>
                <td>
                    <button type="submit" class="btn text-warning bg-light outline-secondary">
                        <a href="{% url 'users:others_password_change' other_user.userprofile.unique_id %}">
                            Password re-set
                        </a>
                    </button>
                </td>
            </tr>
        {%endfor%}
        </table>
        <p>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </p>
    {%endif%}
{% endblock %}