{% extends 'base.html' %}
{% block content %}

    {%if other_users%}
    <h5>List of registered users</h5>
        <table>
            <thead>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Username/email</th>
            <th scope="col">Password re-set</th>
            </thead>
        {%for other_user in other_users%}
            {%if other_user != request.user and other_user.username != "admin"%}
            <tr>
                <td >{{other_user.first_name}}</td>
                <td>{{other_user.last_name}}</td>
                <td>{{other_user.username}}</td>
                <td>
                    <button type="submit"
                            class="btn text-warning bg-light outline-secondary">
                                <a href="{% url 'users:others_password_change' other_user.userprofile.unique_id %}">
                                    Password re-set
                                </a>
                    </button>
                </td>
            </tr>
            {%endif%}
        {%endfor%}
        </table>
    {%endif%}
{% endblock %}